{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static "app.css" %}">
    {% block css_files %}{% endblock %}
</head>
<body>
    <header id="main-navigation">
        <nav>
            <ul>
                <li><a href="{% url "landing_page" %}">Budget Manager</a></li>
                <li><a href="">Budget Analysis</a></li>
                <li><a href="">Stocks</a></li>
                <li><a href="">Crypto</a></li>
                <li><a href="">About</a></li>
            </ul>
        </nav>
    </header>

    <main>
        {% block body %}{% endblock %}
    </main>
    
</body>
</html>