#budget-summary {
    width: fit-content;
    display: flex;
    border-radius: 15px;
    background-color: #1c1c1c;
    box-shadow: 0 2px 8px rgba(116, 116, 116, 0.75);
    margin: 0 auto;
    margin-top: 10px;
}

#account {
    display: inline-block;
    margin: 10px;
    border-radius: 10px;
    padding: 5px;
    background-color: #e7e7e7;
    box-shadow: 0 2px 8px rgba(65, 65, 65, 0.75);

}

#account a {
    text-decoration: none;
}

#account h2 {
    font-size: 30px;
    font-weight: bolder;
    color: #181818;
    margin-top: 0rem;
}

#account h3 {
    font-size: 15px;
    color: #3CB371;
    margin-bottom: 0.25rem;
    text-align: center;    
}