{% extends "base.html" %}
{% load static %}

{% block title %}Add Account{% endblock title %}
{% block css_files %}
    <link rel="stylesheet" href="{% static "budget_manager/add_account.css" %}" />
{% endblock css_files %}

{% block body %}
    <div id="add-account-div">
        <form id="add-account-form" method="POST">
            {% csrf_token %}
            {% for field in form %}
                <div class="form-field">
                    <h2>{{ field.label_tag }}</h2>
                    {{ field }}
                </div>
            {% endfor %}
            <button class="submit-button">Add account</button>
        </form>
    </div>
{% endblock %}
