{% extends "base.html" %}
{% load static %}


{% block title%}Budget Manager {% endblock %}
{% block css_files %} 
<link rel="stylesheet" href="{% static "budget_manager/landing_page.css" %}" /> 
{% endblock %}

{% block body %}
    <section id="budget-summary">
        <form>
            {% csrf_token %}
            {% for account in accounts %}
                <div id="account"><a href="{{ account.get_absolute_url }}">
                    <h2>{{ account }}</h2>
                    <h3>Balance: {{ account.balance }} {{ account.main_currency }}</h3>
                </a></div>
            {% endfor %}
        </form>
    </section>
{% endblock %}
