{% extends "base.html" %}
{% load static %}

{% block title %}Monthly budget{% endblock  %}
{% block css_files %}
    <link rel="stylesheet" href="{% static "budget_manager/monthly_budget.css" %}" />
{% endblock %}

{% block body %}
    <div id="monthly-budget-div">
        <form class="monthly-budget" method="POST">
            {% csrf_token %}
            {% for field in form %}
                <div class="form-field">
                    <h2>{{ field.label_tag }}</h2>
                    {{ field }}
                </div>
            {% endfor %}
            <button class="submit-button">Save budget configuration</button>
        </form>
    </div>
{% endblock %}
